html, body {
  background-color: #7fbbca;
  margin: 0;
}

body {
  font-family: "Kantumruy Pro", sans-serif;
  padding: 40px;
  text-align: center;
}

h1, h2, h3 {
  font-size: 2rem;
  font-weight: 400;
}

/* button link one */
h1, h2, h3 a {
  color: inherit;
  text-decoration: none;
}

h2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
}

/* paragraph styling */
p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto 2rem auto;
}

/* go home button */
.btn {
  color: purple;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid purple;
  padding: 10px 20px;
  font-size: 17px;
  cursor: pointer;
  font-weight: bold;
  background: transparent;
  position: relative;
  transition: all 1s;
  overflow: hidden;
}

.btn:hover {
  color: white;
}

.btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: purple;
  z-index: -1;
  transition: all 1s;
}

.btn:hover::before {
  width: 160%;
}