html, body {
  background-color: #7fbbca;
  margin: 0;
}

body {
  font-family: "Kantumruy Pro", sans-serif;
  padding: 40px;
}

p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto 2rem auto;
  text-align: center;
}