/* Base page styling */
body {
  font-family: "Kantumruy Pro", sans-serif;
  background-color: #7fbbca; /* light blue */
  margin: 40px;
}

/* Heading hierarchy */
h1 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.4rem;
  font-weight: 400;
}
