html, body {
  margin: 0;
  height: 100%;
}

body {
  font-family: "Kantumruy Pro", sans-serif;
  padding: 40px;

  background-image: url("yourgifname.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1, h2, h3 {
  font-size: 2rem;
  font-weight: 400;
}

h1 a, h2 a, h3 a {
  color: white;
  text-decoration: none;
}

h1 a:hover, h2 a:hover, h3 a:hover {
  text-decoration: underline;
}

mark {
  background-color: #FFFFFF;
  color: black;
}
