html, body {
  background-color: #7fbbca;
  margin: 0;
}

body {
  font-family: "Kantumruy Pro", sans-serif;
  padding: 40px;
}

h1, h2, h3 {
  font-size: 2rem;
  font-weight: 400;
}
/* button link one */
h1, h2, h3 a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3  a:hover {
  text-decoration: underline;
}