html, body {
  background-color: #7fbbca;
  margin: 0;
}

body {
  font-family: "Kantumruy Pro", sans-serif;
  padding: 40px;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
}

h3 {
  font-size: 1.4rem;
  font-weight: 400;
}